  <div style="font-family:Arial; background-color: eeeeee; "> 
          <div>
          <table style="width:100%;margin:auto;padding:20px;/* background:#645e5e */">
              <tbody><tr>
              
              <td><img src="https://www.xcorebit.com/assets/img/lolol.png" class="CToWUd a6T" jslog="138226; u014N:xr6bB; 53:W2ZhbHNlXQ.." tabindex="0" style="
          width: 400px;
      ">
      <div class="a6S" dir="ltr" style="opacity: 0.01; left: 533px; top: 170px;">
      <div id=":1mx" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V" data-tooltip="Download">
          <div class="akn">
          <div class="aSK J-J5-Ji aYr"></div>
          </div>
      </div>
      </div>
      <div style="float:left;margin-top:10px"><i>H, 21 Mateen Fatima Rd Block, Gulberg, Lahore</i></div>
      <div style='float:none;clear:both'>
      <div style="float:left;margin-top:10px">+92 321 8814341</div>
      <div style='float:none;clear:both'>
      <div style="float:left;margin-top:10px">hr@xcorebit.com</div>
      </td>
              </tr>
          </tbody></table>
          
         <div style="font-family: Arial;; padding: 15px; border-radius: 5px; text-align: center;">
  <p style="font-size: 14px; margin-bottom: 10px; line-height: 1.5;">
   <span style= "font-weight:bold"> Dear <%= "#{@employee.first_name} #{@employee.last_name}" %>
   </span>
   <br><br>
    Please find attached your salary slip for <%= @salary_slip.salary_month&.strftime('%B %Y') %></p>
    <p> It is a confidential document. Please open it in privacy.
  </p>
  <p style="font-size: 14px; margin-bottom: 10px; line-height: 1.5;">
    Regards,<br>
    Zeeshan Gulzar<br>
    Human Resource Officer, Xcorebit.<br>
    Phone: +923218814341, +923314587577<br>
    Address: H, 21 Mateen Fatima Rd Block, Gulberg, Lahore<br>
    Google Maps: <a href="https://goo.gl/maps/8imB4HCzwXJ8NzGWA" style="color: #3498db; text-decoration: none;">https://goo.gl/maps/8imB4HCzwXJ8NzGWA</a>
  </p>

          
  <a style="color:white; text-decoration:none;" href="<%= attachments['salary_slip.pdf'].url %>">
        <table style="width:75%;margin:auto;padding:2px;background: black;">
    <tbody>
      <tr>
        <td>
          <h2 style="margin-top:1%;font-size:20px;text-align:center;margin-bottom:2px;">
            
              Employee Pay Slip
          </h2>
        </td>
      </tr>
    </tbody>
  </table>
            </a>
</div>
