<div style="font-family:Arial">
    <div>
      <table style="width:75%;margin:auto;padding:20px;/* background:#645e5e */">
        <tbody><tr>
          <td><img src="https://www.xcorebit.com/assets/img/lolol.png" class="CToWUd a6T" jslog="138226; u014N:xr6bB; 53:W2ZhbHNlXQ.." tabindex="0" style="
    width: 400px;
">
<div class="a6S" dir="ltr" style="opacity: 0.01; left: 533px; top: 170px;">
  <div id=":1mx" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V" data-tooltip="Download">
    <div class="akn">
      <div class="aSK J-J5-Ji aYr"></div>
    </div>
  </div>
</div>
<div style="float:left;margin-top:10px; font-size:20px;"><i>H, 21 Mateen Fatima Rd Block, Gulberg, Lahore</i></div>
<%
=begin%>
 <div style='float:right;clear:both'> 
<%
=end%>
<div style="float:left;margin-top:10px">+92 321 8814341</div>
<div style='float:none;clear:both'>
<div style="float:left;margin-top:10px">hr@xcorebit.com</div>
</td>
        </tr>
      </tbody></table>
      <table style="width:75%;margin:auto;padding:20px">
      <tbody><tr>
        <td>
        <div style="float:left"><span style="font-weight:bold;margin-right:2px">Name: </span>Muhammad Ahmad</div>
        <div style="float:right"><span style="font-weight:bold;margin-right:2px">Designation: </span>Software Engineer - L1 </div>
        <div style="clear:both"></div>
        </td>
      </tr><tr>
        <td>
          <div><span style="font-weight:bold;margin-right:2px"><span class="il">Salary</span> Month: </span>July - 2023</div>
        </td>
      </tr>
​
      <tr>
        <td>
          <div><span style="font-weight:bold;margin-right:2px">Date of Joining: </span>01 August - 2021</div>
        </td>
      </tr>
      </tbody></table>
      <table style="width:75%;margin:auto;padding:2px;background: black;">
        <tbody><tr>
          <td>
            <h2 style="margin-top:1%;font-size:20px;text-align:center;margin-bottom:2px;color:white">Employee Pay <span class="il">Slip</span></h2>
          </td>
        </tr>
      </tbody></table>
​
      <table style="width:75%;margin:auto;padding:20px">
      <tbody><tr>
        <th style="font-size:16px;font-weight:bold;float:left">
        Allowances
        <div></div>
        </th>
        <th style="font-size:16px;font-weight:bold;float:right">
        Amount (Rs)
        <div></div>
        </th>
      </tr>
 <tr>
        <td>
          <div><span style="float:left">Basic <span class="il">Salary</span></span></div> <div style="float:right">37,800</div>
          <div style="clear:both"></div>
        </td>
      </tr>
      <tr style="background:#eeeeee">
        <td>
          <div><span style="float:left">Fuel</span></div> <div style="float:right">5,000</div>
          <div style="clear:both"></div>
        </td>
      </tr>
      <tr>
​
      </tr>
      <tr style="background:#eeeeee">
        <td>
          <div><span style="float:left">Medical Allowance</span></div> <div style="float:right">5,000</div>
          <div style="clear:both"></div>
        </td>
      </tr>
      <tr style="background:#eeeeee">
        <td>
          <div><span style="float:left">House Rent</span></div> <div style="float:right">15,200</div>
          <div style="clear:both"></div>
        </td>
      </tr>
      <tr style="background:#eeeeee">
        <td>
          <div><span style="float:left">OPD</span></div> <div style="float:right">0.0</div>
          <div style="clear:both"></div>
        </td>
      </tr>
      <tr style="background:#eeeeee">
        <td>
          <div><span style="float:left">Arrears</span></div> <div style="float:right">0.0</div>
          <div style="clear:both"></div>
        </td>
      </tr>
      <tr><td><br></td></tr>
      <tr>
        <td>
          <div><span style="float:left">Other Bonus</span></div> <div style="float:right">0.0</div>
          <div style="clear:both"></div>
        </td>
      </tr>
      <tr>
        <td>
          <div><span style="float:left;margin-bottom:1%">Gross <span class="il">Salary</span></span></div> <div style="float:right">63,000</div>
          <div style="clear:both"></div>
        </td>
      </tr>
      <tr>
        <td>
          <div><span style="font-weight:bold;float:left;margin-bottom:1%;margin-top:2%">Deductions</span></div>
          <div style="clear:both"></div>
        </td>
      </tr>
      <tr>
        <td>
          <div><span style="float:left;margin-bottom:1%">Provident Fund Contribution</span></div> <div style="float:right">1890</div>
          <div style="clear:both"></div>
        </td>
      </tr>
      <tr>
        <td>
          <div><span style="font-size:20px;font-weight:bold;float:left;margin-bottom:1%;margin-top:2%">Net <span class="il">Salary</span></span></div> <div style="font-size:20px;float:right;font-weight:bold;margin-top:2%">61,110</div>
          <div style="clear:both"></div>
        </td>
      </tr>
      <tr>
        <td>
          <div style="/* font-size:20px; *//* float:right; *//* font-weight:bold; margin-top:200px;">This is an electronically generated document,hence does not require signature.</div>
          <div style="clear:both"></div>
        </td>
      </tr>
      </tbody></table><div class="yj6qo"></div><div class="adL">
    </div></div><div class="adL">
  </div></div>