<h1 class="test-of rt st bt"> hello</h1>
    <h2 style= "color: red; text-align: center; font-weight: 900;  font-size: 50px;" >hello welcome</h2>

<p style= "color:red; background-color: yellow" > welcome</p>